# Example notebook for writing LAZ data

For this example I simply downloaded the "Oakland" dataset (training) http://www.cs.cmu.edu/~vmr/datasets/oakland_3d/cvpr09/doc/ and converted the dataset to multiple LAZ files.

In [1]:
from pathlib import Path
import laspy

import numpy as np
import pandas as pd
import dask.dataframe as dd
from dask.delayed import delayed

%load_ext line_profiler

In [2]:
data_dir = Path('/home/tom/vision/data/training')
data = data_dir.joinpath('oakland_part3_an_training.xyz_label_conf')
df = dd.read_csv(data, header=None, delimiter=' ', names=['x','y','z','intensity','classification'])
df.head()

        x       y     z  intensity  classification
0  158.67  132.31 -1.92       1400               2
1  158.99  132.00  3.76       1400               2
2  158.82  132.02  4.00       1400               2
3  158.80  132.26  3.34       1400               2
4  158.83  132.24  3.64       1400               2

In [3]:
header = laspy.header.Header()
outfile = laspy.file.File(str(data_dir.joinpath('oakland_part3_an_training.las')), mode="w", header=header)
outfile.x = df.x.values
outfile.y = df.y.values
outfile.z = df.z.values
outfile.int = df.intensity.values
outfile.cls = df.classification.values
outfile.close()

/home/tom/vision/env/local/lib/python2.7/site-packages/dask/local.py:271: RuntimeWarning: divide by zero encountered in divide
  return func(*args2)
/home/tom/vision/env/local/lib/python2.7/site-packages/dask/local.py:271: RuntimeWarning: invalid value encountered in divide
  return func(*args2)